.highlight-org {
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
}
.highlight-prd {
  background-color: hsl(var(--s));
  color: hsl(var(--sc));
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
}
.highlight-person {
  background-color: hsl(var(--a));
  color: hsl(var(--ac));
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
}
.highlight-loc {
  background-color: hsl(var(--in));
  color: hsl(var(--inc));
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
}

.ProseMirror {
  min-height: 2.5rem;
  padding: 0.5rem 0.75rem;
}
.ProseMirror p.is-editor-empty:first-child::before {
  color: hsl(var(--bc) / 0.4);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}