@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body, #root {
  height: 100%;
}
.highlight-container {
  position: relative;
  width: 100%;
}

.highlight-container .highlighter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 1rem; 
  font-size: 1rem;
  pointer-events: none; 
  color: transparent; 
  white-space: pre-wrap; 
}

.highlight-container .input-overlay {
  position: relative;
  z-index: 10;
  background-color: transparent; 
  color: var(--fallback-bc, oklch(var(--bc) / 1)); 
}